.cards{
    background-image: url("https://ik.imagekit.io/4z8covdo9/MERN-COURSE-ASSETS/TOURISM-PROJECT/taj-mahal");
    height: 600px;
    width: 600px;
    background-repeat: no-repeat;

}

.img{

    width: 250px;
}
.fav{
    color: white;
}
.Taj{
box-sizing: border-box;

    height: 90px;
 display: flex;
 row-gap: 20px;
 justify-self: center;
 justify-content: space-evenly;
padding: 5px;
border-radius: 10px;
}

.Taj img{

width: 90px;
height: 70px;

        border-radius: 10px;
}
