.bg-hero-container{
    background-image:url("https://ik.imagekit.io/4z8covdo9/MERN-COURSE-ASSETS/FOOD-STORE/foodmunch-banner-bg.png");  
 background-repeat: no-repeat;
 background-size: cover;
 height:50vh;

}